.wrapper {
  width: 792px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 8px;
  width: 744px;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.footer {
  display: flex;
  justify-content: center;
}
