.rewardContainer{
    background-color: #FAFAFA;
    max-width: 885px;
    height: fit-content;
    padding: 70px 10px;
    gap: 20px;
    display: grid;
}
.grayBox{
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;
    padding: 10px;
}
.rewardAdd{
    display: grid;
    justify-content: center;
}
.rewardList{
    display: grid;
    justify-content: center;
    gap: 10px;
}
.addButton{
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #D9D9D9;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 8px;
}