.Header{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
    position: relative;
    height: 240px;
}

.Header div {
    font-weight: bold; 
    cursor: pointer; 
  }
.Header_left{
    position: absolute;
    left: 20px;
    font-size: 24px;
}
.Header_center{
    flex-grow: 1;
    font-size: 140px;
    color: #666666;
    text-align: center;
}
.Header_right{
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    right: 20px;
}
.alarm_icon, .profile_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}