.wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.container {
  width: 321px;
  height: 297px;
  padding: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.email_text,
.phoneNumber_text {
  width: 272px;
  height: 22px;
}
.confirm_email,
.confirm_phoneNumber {
  width: 272px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
}

.ForgotPasswordPage_button {
  width: 272px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cancel_button {
  width: 87px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: medium;
  cursor: pointer;
}
.reset_button {
  width: 166px;
  height: 40px;
  background-color: #2c2c2c;
  border-radius: 10px;
  color: #f5f5f5;
  font-size: medium;
  cursor: pointer;
}

.alert {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 300px;
  height: 80px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #757575;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.alert_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mail_icon {
  font-weight: bold;
  color: #009951;
  margin-right: 15px;
}

.highlight {
  color: #009951;
  font-weight: bold;
  margin-right: auto;
}
.alert_close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.alert_message {
  font-weight: bold;
  color: #000000;
  margin-left: 40px;
}
