* {
    box-sizing: border-box;
    font-family: GmarketSans;
    line-height: 28px;
}
.wrapper{
	width: 1920px;
    display: flex;
	flex-direction: column;
}
.topBar{
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;
}
.body{
    width: 1160px;
    margin: 0 380px;
    flex-direction: column;
    display: flex;
    place-content: start space-evenly;
}
.topBtn{
    width: calc(100%);
    height: fit-content;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px
}
Button{
    border-radius: 8px;
    border: none;
    background-color: white;
    font-weight: lighter;
    cursor: pointer;
}
Button:visited{
    border-radius: 8px;
    border: 0px solid black;
    background-color: #d9d9d9;
    font-weight: lighter;
}
.element{
    width: calc(100%);
    height: fit-content;
}