.wrapper {
  background-color: #fafafa;
  padding-top: 70px;
  width: 260px;
  height: 100vh;
}

.wrapper > header {
  text-align: right;
  margin-right: 10px;
}

.navSection {
  position: relative;
}

.navBox {
  margin: 20px 30px;
}

.navBox > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navBox > ul > li {
  list-style: none;
  font-size: 24px;
  text-align: right;
  margin-top: 20px;
  position: relative;
}

.navBox > ul > li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: black;
  transition: width 0.3s ease-in;
}

.navBox > ul > li:hover::before {
  width: 100%;
}

.navBox > ul > li:hover {
  text-shadow: 2px 1px rgba(0, 0, 0, 0.4);
}

.navBox > ul > li > a {
  width: 100%;
  height: 100%;
  display: block;
}
