.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
}

.divider {
  border: 1px solid gray;
}

.card {
  width: 480px;
  border-radius: 12px;
  box-shadow: 2px 4px 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 16px;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.checkBox {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
